---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}


/* Styling the header */
.site-header .wrapper {
  display: flex;
  justify-content: space-between; /* Separate branding and navigation */
  align-items: center; /* Vertically align items */
  padding: 10px 20px;
}

/* Styling the branding (logo and site title) */
.branding {
  display: flex;
  align-items: center;
}

.site-logo {
  height: 50px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Space between logo and title */
}

.site-title {
  font-size: 1.5em; /* Adjust font size of the site title */
  font-weight: bold;
}

.site-footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer-col-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-col {
  flex: 1;
  padding: 0 10px;
}

.footer-col p,
.footer-col ul {
  margin: 0; /* Remove unnecessary margins */
}

.social-links {
  display: flex;
  align-items: center;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.publication {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; /* Increase this value to add more space between publications */
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}